<div class="container">
    <form #myForm>
        <div class="mb-3">
            <label for="email-field" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" [(ngModel)]="email" minlength="6" name="email" id="email-field"
                placeholder="correo@dominio.com" autofocus="autofocus" required="required">
            <div class="invalid-feedback">
                Debe ingresar un correo Válido
            </div>
        </div>
        <div class="mb-3">
            <label for="password-field" class="form-label">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="password" minlength="6" name=password
                id="password-field" placeholder="********" required="required">
            <div class="invalid-feedback">
                Debe ingresar su contraseña
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
        <!--
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Usuario o contraseña incorrecta.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> El usuario no tiene autorizacion para ingresar.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        -->
    </form>
</div>
